name: Build

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4

      # Install and cache TeX Live
      - name: Setup TeX Live
        uses: zauguin/install-texlive@v4 # https://github.com/zauguin/install-texlive
        with:
          texlive_version: 2023 # failed to build with 2024 and 2025
          cache_version: 1.1
          packages: |
            scheme-medium
            latexmk
            biber
            tabularray
            makecell
            collection-latexextra
            collection-fontsrecommended
            collection-fontsextra
            collection-langcyrillic
            biblatex-gost

      # Cache make and ttf-mscorefonts-installer
      - name: Cache other dependencies 
        uses: awalsh128/cache-apt-pkgs-action@v1.6.0 # https://github.com/marketplace/actions/cache-apt-packages
        with:
          packages: make ttf-mscorefonts-installer
          version: 1.0

      # Refresh font cache so TeX sees MS fonts
      - name: Refresh font cache
        run: sudo fc-cache -fv

      - name: Make
        run: |
          make
          
      - name: Show LaTeX synopsis.log log on failure
        if: failure()
        run: |
          echo "===== synopsis.log ====="
          cat synopsis.log || true

      - name: Show LaTeX xelatex.log log on failure
        if: failure()
        run: |
          echo "===== xelatex.log ====="
          cat xelatex.log || true

      - name: Show LaTeX latexmk.log log on failure
        if: failure()
        run: |
          echo "===== latexmk.log ====="
          cat latexmk.log || true

      - name: Show LaTeX dissertation.log log on failure
        if: failure()
        run: |
          echo "===== dissertation.log ====="
          cat dissertation.log || true

      - uses: actions/upload-artifact@v4
        with:
          name: pdf
          path: ./*.pdf
          retention-days: 7
